.loginbtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginbtn .btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #28a745;
  color: #28a745;
  background-color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s;
  position: relative;
  cursor: pointer;
}
.resLogo{
  display: none;
}
.mobile{
 display: flex;
 cursor: pointer;
}
.mobile img {
margin-top: 18px;
margin-right: -10px;
}

.mobile:hover{
    color: #28a745;
    font-weight: 800;
}

.user {
  filter: invert(53%) sepia(78%) saturate(403%) hue-rotate(90deg)
    brightness(96%) contrast(93%);
  display: inline-block;
  width: 15px;
  height: 15px;
}
.user:hover {
  filter: invert(100%);
}

.loginbtn .btn:hover {
  background-color: #28a745;
  color: #ffff;
}
@media (max-width: 410px) {
  .loginbtn .btn {
   display: none;
  }
  .resLogo{
    display: block;
  }
}
