.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -9px;
}

.imgContainer img {
  width: 100%;

}
.man {
  position: absolute;
  top: 12.2%;
  left: 31%;
}

.number {
  width: 159px;
  height: 60px;
}

.headText {
  text-align: center;
  color: #595959;
  font-size: 20px;
  font-weight: 600;
}

.span1 {
  color: #28a745;
  font-size: #595959;
  font-weight: 600;
}

.filterBaront {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filterBarcontain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filterBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #d9d9d9;
  border-radius: 16px;
  padding: 0.5rem;
  width: 55%;
  margin-top: 40px;
}

.filterBar button {
  margin-left: 20px;
  border: none;
  background-color: #28a745;
  color: #ffff;
  border-radius: 16px;
  width: 19%;
  padding: 13px;
}

.filterBar button:hover {
  background-color: #459d59;
}

.filterBar img {
  cursor: pointer;
}

.filterBar img:hover {
  cursor: pointer;
}

.alltours {
  font-weight: 400;
  margin-right: 47px;
  margin-top: 49px;
  font-size: 32px;
}

.greenBack {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: solid 1px #d9d9d9;
  border-radius: 16px;
  width: 100%;
}

.box {
  background-color: #28A745;
  width: 70%;
  height: 16rem;
  border-radius: 16px;
}

.telephonBuy {
  position: absolute;
  right: 120px;
  top: 0px;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}

.telephonBuy span {
  color: #10411b;
}

.where {
  position: absolute;
  right: 120px;
  top: 100px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.greenBack button {
  border: none;
  height: 41px;
  background-color: #10411b;
  border-radius: 9px;
  width: 14%;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 137px;
  left: 123px;
}

.number {
  position: absolute;
  top: 52px;
  left: 10%;
}

.textsection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.greenCircle {
  margin-top: 61px;
  width: 60px;
  height: 60px;
}

.question {
  color: #fff;
  font-size: 47px;
  font-weight: 900;
  position: absolute;
  top: 61px;
  right: 19px;
}

.why {
  margin-right: 8%;
  margin-top: -4rem;
  font-size: 40px;
  font-weight: 800;
}

.why span {
  color: #28a745;
}

.textTitle {
  font-size: 36px;
  font-weight: 500;
  color: #282828;
  margin-top: 0rem;
}

.discrition {
  font-size: 20px;
  font-weight: 400;
  color: #282828;
  width: 46%;
  text-align: justify;
  word-spacing: 16px;
}

.offers {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 50px 0;
}

.child {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

.child img {
  height: 104px;
}

.child .title1 {
  font-size: 26px;
  font-weight: 500;
}

.child .title2 {
  text-align: right;
  font-size: 26px;
  font-weight: 500;

}

.child .title3 {
  text-align: right;
  font-size: 26px;
  font-weight: 500;
}

.child .discrition1 {
  word-spacing: normal;
  text-align: right;
}

.child .discrition2 {
  word-spacing: normal;
  text-align: right;
}

.child .discrition3 {
  word-spacing: normal;
  text-align: right;
}

@media (max-width: 400px) {
  .headText {
    font-size: 14px;
  }
  .filterBar {
    display: flex;
    
    justify-content: center;
    align-items: end;
    border: none;
    border-radius: 16px;
    width: 100%;
    margin-top: 40px;
  }
  .filterBar button {
    width: 77%;
    padding: 13px;
    margin-top: 10px;
  }
  .textTitle {
  display: none;
  }
  
  .discrition {
    display: none;
  }
  .why {
    margin-right: 25%;
  }
  .offers {
    margin: 50px 10px;
  }
  .greenBack {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: solid 1px #d9d9d9;
    border-radius: 16px;
    width: 100%;
    height: 350px;
  }
  
  .box {
    background-color: #28A745;
    width: 100%;
    height: 16rem;
    border-radius: 16px;
  }
  .man{
    position: absolute;
    top: 9.2%;
    left: 1%;
  }
  .telephonBuy {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  .where{
    position: absolute;
    right: 010px;
    top: 63px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .greenBack button {
    border: none;
    height: 41px;
    background-color: #10411b;
    border-radius: 9px;
    width: 35%;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 18rem;
    left: 2rem;
  }
  .number {
    position: absolute;
    top: 17rem;
    left: 53%;
  }
}