.banner {
  position: relative;
  width: 82vw;
  height: 20rem;
  right: 46%;
  object-fit: cover;
  transform: translateX(50%);
}


.man {
  position: absolute;
  top: 12.2%;
  left: 31%;
}
.number {
  width: 159px;
  height: 60px;
}
.headText {
  text-align: center;
  color: #595959;
  font-size: #595959;
  font-weight: 600;
}
.span1 {
  color: #28a745;
  font-size: #595959;
  font-weight: 600;
}
.filterBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #d9d9d9;
  border-radius: 16px;
  padding: 0.5rem;
  width: 55%;
  margin-right: 25%;
  margin-top: 40px;
}
.filterBar button {
  margin-left: 20px;
  border: none;
  background-color: #28a745;
  color: #ffff;
  border-radius: 16px;
  width: 19%;
  padding: 13px;
}
.filterBar button:hover {
  background-color: #459d59;
}
.filterBar img {
  cursor: pointer;
}
.filterBar img:hover {
  cursor: pointer;
}
.alltours {
  font-weight: 400;
  margin-right: 47px;
  margin-top: 49px;
  font-size: 32px;
}
.greenBack {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: -12px;
  border: solid 1px #d9d9d9;
  border-radius: 16px;
  width: 100%;
}

.box{
  background-color: #28A745;
  width: 70%;
  height: 16rem;
  border-radius: 16px;
}
.telephonBuy {
  position: absolute;
  right: 120px;
  top: 0px;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}
.telephonBuy span {
  color: #10411b;
}
.where {
  position: absolute;
  right: 120px;
  top: 100px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.greenBack button {
  border: none;
  height: 41px;
  background-color: #10411b;
  border-radius: 9px;
  width: 14%;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 137px;
  left: 123px;
}
.number {
  position: absolute;
  top: 52px;
  left: 10%;
}
.textsection {
  position: relative;
  margin-right: 114px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.greenCircle {
  margin-top: 61px;
  width: 60px;
  height: 60px;
}
.question {
  color: #fff;
  font-size: 47px;
  font-weight: 900;
  position: absolute;
  top: 61px;
  right: 19px;
}
.why {
  margin-right: 8%;
  margin-top: -4rem;
  font-size: 40px;
  font-weight: 800;
}
.why span {
  color: #28a745;
}
.textTitle {
  font-size: 36px;
  font-weight: 500;
  color: #282828;
  margin-top: 0rem;
}
.discrition {
  font-size: 20px;
  font-weight: 400;
  color: #282828;
  width: 46%;
  text-align: justify;
  word-spacing: 16px;
}
.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 50px;
  margin-left: -9rem;
  margin-right: -8rem;
  padding: 20px;
}
.child {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}
.child img {
  width: 104px;
  height: 104px;
}
.child .title1 {
  margin-right: -2rem;
  font-size: 26px;
  font-weight: 500;
  width: 300px;
}
.child .title2 {
  text-align: right;
  margin-right: 1rem;
  font-size: 26px;
  font-weight: 500;
  width: 300px;
}
.child .title3 {
  text-align: right;
  margin-right: 1rem;
  font-size: 26px;
  font-weight: 500;
  width: 300px;
}
.child .discrition1 {
  margin-top: 74px;
  margin-right: -253px;
  word-spacing: normal;
  width: 330px;
  text-align: right;
}
.child .discrition2 {
  margin-top: 74px;
  margin-right: -304px;
  word-spacing: normal;
  width: 330px;
  text-align: right;
}
.child .discrition3 {
  margin-top: 74px;
  margin-right: -304px;
  word-spacing: normal;
  width: 330px;
  text-align: right;
}
@media (max-width: 400px) {
  .banner {
    position: relative;
    width: 100vw;
    height: 20rem;
    right: 46%;
    object-fit: cover;
    transform: translateX(50%);
  } 
  .filterBar {
    display: grid;
    grid-template-columns: 100%;
    border: none;
  }
  .filterBar button {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding: 13px 56px;
    margin-right: 12%;
    font-size: 20px;
    align-items: center;
  }
  .greenBack {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-right: 60px;
    border: solid 1px #d9d9d9;
    border-radius: 16px;
    width: 100%;
    height: 22rem;
  }
  .telephonBuy {
    position: absolute;
    right: 34px;
    top: 20px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
  }
  .where {
    position: absolute;
    right: 32px;;
    top: 100px;
    font-size: 14px;
    font-weight: 400;
  }
  .greenBack button {
    height: 41px;
    width: 40%;
    position: absolute;
    top: 17.5rem;
    left: 1rem;
  }
  .number {
    position: absolute;
    top: 17rem;
    left: 51%;
  }
  
  .box{
    background-color: #28A745;
    width: 100%;
    height: 16rem;
    border-radius: 16px;
  }
 
.man {
  position: absolute;
  top: 8.2%;
  left: -2%
}
.why {
  margin-right: 30%;
  margin-top: -3rem;
  font-size: 24px;
  font-weight: 800;
}
.textTitle {
 display: none;
}
.discrition {
 display: none;
}

.offers {
  margin: 50px;
  margin-left: -16rem;
  margin-right: 6rem;
  
}
}
