
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #444444;
  height: 533px;
  margin: 6rem;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin: 4rem auto;
}
.image {
  justify-content: center;
}

.boxtitle {
  position: absolute;
  font-size: 32px;
  font-weight: 700;
  top: 2rem;
  right: 30rem;
}
.duedate {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  color: #474747;
  top: 8rem;
  right: 30rem;
}
.btn {
  position: absolute;
  border: none;
  background-color: #28a745;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding: 1rem 4rem;
  border-radius: 10px;
  left: 3rem;
  top: 16rem;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 30rem;
  top: 13rem;
  gap: 66px;
  align-items: center;
  justify-content: center;
}
.plans span {
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 400;
}
.img1 {
  position: absolute;
  left: 29rem;
}
.img2 {
  position: absolute;
  left: 18rem;
}
.img3 {
  position: absolute;
  left: 8rem;
}
.prices {
  position: absolute;
  font-size: 28px;
  font-weight: 500;
  color: #009eca;
  right: 30rem;
  top: 16rem;
}
.prices span {
  font-size: 14px;
  color: #282828cc;
  font-weight: 400;
}
.informations img {
  position: absolute;
  margin-right: -26px;
}
.section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  margin-top: 25rem;
  position: relative;
}
.tit {
  color: #444444;
}
@media (max-width: 400px) {
  .box {
    border: none;
    width: 100%;
    box-shadow: none;
  }
  .image {
    position: absolute;
    top:0px;
  }
  .boxtitle {
    top: 23rem;
    right: 1rem;
    font-size: 24px;
  }
  .duedate {
    font-size: 15px;
    top: 24rem;
    right: 19rem;
  }
  .btn {
    position: absolute;
    border: none;
    font-size: 20px;
    font-weight: 400;
    left: 12rem;
    top: 32rem;
    padding: 0.5rem 1rem;
}
  

  .section1 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 3rem;
    top: 29rem;
    gap: 50px;
  }
  .plans span {
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 400;
  }
  .img1 {
    position: absolute;
    left: 20rem;
  }
  .img2 {
    position: absolute;
    left: 12rem;
  }
  .img3 {
    position: absolute;
    left: 5rem;
  }
  .prices {
    position: absolute;
    font-size: 14px;
    right: 17rem;
    top: 32rem;
  }
  .prices span {
    font-size: 14px;
    color: #282828cc;
    font-weight: 400;
  }
  .informations img {
    position: absolute;
    margin-right: -26px;
  }
  .section2 {
    display: none;
  }
  .informations img {
    position: absolute;
    margin-right: -26px;
  }
  .line {
    display: none;
  }
  #part1 {
    display: none;
  }
  #part2 {
    display: none;
  }
  #part3 {
    display: none;
  }
}
