/* .Cardcontainer{
    width: 100%;
} */
.Cardcontainer {
  justify-content: center;
display: flex;
flex-wrap: wrap;
  position: relative;
}
.Cardcontainer img{
  margin-right: 0px;
  object-fit: cover;
}
.cards {
  border: solid 1px #d9d9d9;
  height: 329px;
  border-radius: 20px;
  margin: 50px 8px;
}
.title {
  margin-right: 20px;
  margin-top: 14px;
  font-size: 22px;
  font-weight: 500;
}
.text {
  font-size: 15px;
  font-weight: 400;
  color: #282828b2;
  margin-right: 20px;
}
.cardDetail {
  display: flex;
  margin-right: 20px;
}
.cardDetail p {
  margin-right: 100px;
  font-size: 16px;
  font-weight: 400;
  color: #009eca;
}
.cardDetail span {
  font-size: 12px;
  font-weight: 400;
  color: #282828cc;
}
.cardDetail button {
  margin-top: 15px;
  width: 64px;
  height: 25px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  background-color: #28a745;
}
@media (max-width: 400px) {
  .cards {
    margin: 14px 8px;
  }
  }