.sliderContainer {
  width: 33.75%;
  display: flex;
}
/* .sliderContainer {
 display: flex;

 margin: auto;

} */


.img1 {
  height: 479px;
 
}
.sliderContainer :global(.swiper-pagination) {
  bottom: 8px;
  font-size: 16px;
  color: purple;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
  border-radius: 8px;
}

.sliderContainer
  :global(.swiper-pagination-fraction .swiper-pagination-current) {
  color: black;
}

.sliderContainer :global(.swiper-pagination-fraction .swiper-pagination-total) {
  color: black;
}
@media (max-width: 410px) {
  .sliderContainer {
    width: 100%;
    display: flex;
  }
}
