@keyframes zoomIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1); 
      opacity: 1;
    }
  }
  .modal{
    position: fixed;      
  top: 0;              
  right: 0;             
  z-index: 10;          
  width: 100svw;       
  height: 100svh;     
  background: rgba(0, 0, 0, 0.20); 
  -webkit-backdrop-filter: blur(4px); 
  backdrop-filter: blur(4px);
  }

    .dialogOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

  
    .dialog {
      flex-direction: column;
      background: #fff;
      width: 30rem;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      z-index: 1001;
      position: relative;
      animation: zoomIn 0.3s ease-out forwards;
    }
   
    .dialogOverlay button {
      border: none;
      width: 6rem;
      height: 2rem;
      border-radius: 10px;
      background-color: #55a3f0;
      color: #ffffff;
      font-size: 15px;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 2rem;
    }
    
    .dialogOverlay button:hover {
      background-color: #077bef;
    }
    
   