.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  background-color: #fff;
}

.image {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.navbar a {
  cursor: pointer;
  font-weight: 500;
  color: #282828;
  transition: color 0.3s;
}
.home {
  color: #28a745 !important;
}

.navbar a:hover {
  color: #28a745;
}

.footer {
  position: relative;

  height: 100px;
}

.footerLogo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.list1 {
  position: absolute;
  right: 4rem;
  top: 0rem;
}
.list2 {
  position: absolute;
  right: 15rem;
  top: 0rem;
}
.phone {
  position: relative;
  top: -50px;
}
.hamburger{
  display: none;
}
.footerImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 2rem;
  margin-left: 20px;
}
.p1 {
  text-align: end;
  margin-left: 20px;
}
.p {
  text-align: center;
  margin-top: 1.5rem;
}
@media (max-width: 400px) {
  .navbar ul {
    display: none;
  }
  
  .image {
   display: none;
  }
  .hamburger{
    display: block;
  }
  .footer {
    position: relative;
    height: 180px;
  }
  .footerImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;
    margin-left: 0;
  }
  .footerImage img{
    height: 30px;
    width: 30px;
  }
  .footerLogo {
    position: absolute;
    top: 10rem;
    left: 1rem;
  }
  .footerLogo img{
    height: 30px;
    width: 91px;
  }
  .p1 {
    text-align: end;
    position: absolute;
    left: -11px;
    top: 57px;
    font-size: 12px;
    }
    .p{
      font-size: 12px;
    }
    .footer h4{
      margin-right: 35px;
    }
    .list1 {
      position: absolute;
      right: 1rem;
      top: 0rem;
    }
    .list2 {
      position: absolute;
      right: 10rem;
      top: 0rem;
    }
    .list1 li{
      font-size: 12px;
    }
    .list2 li{
      font-size: 12px;
    }
  }
  
