.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  width: 100%;
  background-color: #fff;
}
.hr {
  border: 1px solid #cfcfcf;
  width: 129%;
  margin-right: -14rem;
}

.hr2{
  border: 1px solid #cfcfcf;
  width: 129%;
  margin-right: -14rem;
}
.image {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
  color: #282828;
  transition: color 0.3s;
}
.home {
  color: #28a745 !important;
}

.navbar li:hover {
  color: #28a745;
}

.loginbtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginbtn .btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #28a745;
  color: #28a745;
  background-color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s;
  cursor: pointer;
}

.user {
  filter: invert(53%) sepia(78%) saturate(403%) hue-rotate(90deg)
    brightness(96%) contrast(93%);
  display: inline-block;
  width: 15px;
  height: 15px;
}
.user:hover {
  filter: invert(100%);
}

.loginbtn .btn:hover {
  background-color: #28a745;
  color: #ffff;
}
.foo {
  margin-top: 12%;
  background-color: #fff;
}
.footer {
  display: flex;
}
.ul1 {
  margin-right: 45px;
}

.ul2 {
  margin-right: 45px;
}
.footerLogo {
  display: flex;
  margin-right: 66rem;
  margin-top: 1rem;
}
.phone {
  margin-top: 2rem;
  margin-right: 70rem;
}
.footerImage {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}
.p {
  text-align: center;
  margin-top: 1.5rem;
}
