@keyframes zoomInDown {
  from {
    transform: scale(0.5) translateY(-50px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 3.5rem;
  left: 15%;
  background-color: #ffff;
  border: solid 1px #d8d8dd;
  border-radius: 10px;
  width: 11%;
  z-index: 40;
  animation: zoomInDown 0.3s ease-out forwards;
}
.container div{
  margin-right: 24px;
  color: #666666;
  cursor: pointer;
}
.logOut{
  color: red !important;
}
